form{
    position: absolute;
    top:20%;
    left: 40%;
    border: 2px solid grey;
    width: 15rem;
    height: 12rem;
    padding: 10px;
    margin: auto;
    justify-content: space-around;
    border-radius: 20px;
}
div{
    padding-top: 10px; 
}
input{
    margin: auto;
}